* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
}
.swiper-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* Градиентный фон */
.swiper-container::before,
.swiper-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 65%; /* Высота градиента */
}

.swiper-container::before {
    top: 0;
    background: rgb(8,0,127);
    background: -moz-linear-gradient(0deg, rgba(8,0,127,0.9585084033613446) 40%, rgba(0,0,1,0.9725140056022409) 86%, rgba(0,0,1,0.9725140056022409) 100%);
    background: -webkit-linear-gradient(0deg, rgba(8,0,127,0.9585084033613446) 40%, rgba(0,0,1,0.9725140056022409) 86%, rgba(0,0,1,0.9725140056022409) 100%);
    background: linear-gradient(0deg, rgba(8,0,127,0.9585084033613446) 40%, rgba(0,0,1,0.9725140056022409) 86%, rgba(0,0,1,0.9725140056022409) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#08007f",endColorstr="#000001",GradientType=1);
}

.swiper-container::after {
    bottom: 0;
    background: rgb(8,0,127);
    background: -moz-linear-gradient(180deg, rgba(8,0,127,0.9585084033613446) 40%, rgba(0,0,1,0.9725140056022409) 86%, rgba(0,0,1,0.9725140056022409) 100%);
    background: -webkit-linear-gradient(180deg, rgba(8,0,127,0.9585084033613446) 40%, rgba(0,0,1,0.9725140056022409) 86%, rgba(0,0,1,0.9725140056022409) 100%);
    background: linear-gradient(180deg, rgba(8,0,127,0.9585084033613446) 40%, rgba(0,0,1,0.9725140056022409) 86%, rgba(0,0,1,0.9725140056022409) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#08007f",endColorstr="#000001",GradientType=1);
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.swiper-button-next:after, .swiper-button-prev:after{
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.slide-desc{
  position: absolute;
  bottom: 0;
  left: 15%;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-bottom: 140px;
  width: 50%;
  z-index: 9;
}
.swiper-button-next{
  margin-right: 30px;
}
.swiper-button-prev{
  margin-left: 30px;
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  margin: 20px;
  position: relative;
  z-index: 12;
  margin-bottom: 20px;
}
.line {
  background-color: #ffffff;
  height: 3px;
  width: 100%;
  transition: all 0.3s ease;
  border-radius: 3px;
}
.burger.active .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.burger.active .line:nth-child(2) {
  opacity: 0; /* Прячем среднюю линию */
}
.burger.active .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
.side-menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  display: none;
  justify-content: end;
}
.show-side-menu {
  display: flex;
  animation: show-side-menu 0.3s ease;
}
.inner-shadow {
  height: 100%;
  width: 100%;
}
@keyframes show-side-menu {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: flex;
  }
}
.hide-side-menu {
  display: none;
  animation: hide-side-menu 0.3s ease;
}
@keyframes hide-side-menu {
  from {
    opacity: 1;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.side-menu__inner {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 75vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
}
.nav-list-items-side {
  list-style-type: none;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.nav-wrapper {
  position: absolute;
}
.start-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 125px;
  width: 100vw;
}
.logo-container {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
.logo-title {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  transition: text-shadow 0.4s ease; /* Плавное изменение эффекта */
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 2.5px;
}
.nav-list-items {
  position: relative;
  z-index: 10;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 50px;
  letter-spacing: 2.5px;
}
.nav-list__item {
  cursor: pointer;
  font-size: 18px;
  transition: text-shadow 0.4s ease; /* Плавное изменение эффекта */
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}
.logo-img img{
  transition: filter 0.4s ease;
}
.logo-container:hover .logo-img img{
  -webkit-filter: drop-shadow(0px 0px 10px #6889FF);
  filter: drop-shadow(0px 0px 10px #6889FF);
}
.logo-container:hover .logo-title{
  text-shadow: 0px 0px 40px #6889FF;
}
.nav-list__item:hover{
  text-shadow: 0px 0px 40px #6889FF;
}
.border {
  padding: 11px 14px;
  border: 1px solid white;
  border-radius: 60px;
  transition: 0.2s;
}
.border:hover {
  transition: 0.2s;
  box-shadow: 0px 0px 4px 0px #6889FF;
}
.nav-list__item-link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.hidden {
  opacity: 0;
  transform: translateY(20px); /* Сдвиг вниз на 20 пикселей */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Параметры анимации */
}
.visible {
  opacity: 1;
  transform: translateY(0); /* Возвращаем элемент на место */
}
@media (max-width: 1550px){
  .slide-desc{
    padding-bottom: 90px;
  }
}
@media (max-width: 1490px) {
  .container {
    padding: 0px 150px;
  }
  .logo-img img {
    height: 40px;
    width: 40px;
  }
  .logo-title {
    font-size: 15px;
  }
  .nav-list__item {
    font-size: 15px;
  }
}
@media (max-width: 1320px) {
  .slide-desc{
    font-size: 28px;
    padding-bottom: 80px;
  }
}
@media (max-width: 1270px) {
  .slide-desc{
    font-size: 27px;
    width: 60%;
  }
}
@media (max-width: 1220px) {
  .nav-list-items{
    gap: 15px;
  }
}
@media (max-width: 1125px){
  .start-nav {
    padding: 50px 60px;
  }
  .nav-list-items{
    gap: 12px;
  }
  .slide-desc{
    left: 12%;
    font-size: 23px;
  }
}
@media (max-width: 1090px){
  .start-nav {
    padding: 50px 75px;
  }
}
@media (max-width: 1000px) {
  .logo-title {
    font-size: 13px;
  }
  .nav-list__item {
    font-size: 13px;
  }
}
@media (max-width: 960px) {
  .start-nav {
    padding: 50px 55px;
  }
}
@media (max-width: 920px){
  .slide-desc{
    font-size: 20px;
    left: 10%;
    padding-bottom: 90px;
    width: 70%;
  }
}
@media (max-width: 900px) {
  .nav-list-items{
    gap: 10px;
  }
  .logo-container{
    gap: 10px;
  }
}
@media (max-width: 885px){
  .start-nav {
    padding: 50px 30px;
  }
}
@media (max-width: 830px) {
  .nav-list-items {
    display: none;
  }
  .nav-list__item-link{
    font-size: 18px;
  }
  .start-nav {
    padding: 15px 30px;
  }
  .burger {
    display: flex;
  }
}
@media (max-width: 700px) {
  .start-nav {
    padding: 50px 40px;
  }
  .slide-desc{
    font-size: 18px;
    left: 5%;
    padding-bottom: 50px;
  }
}
@media (max-width: 620px) {
  .start-nav {
    padding: 30px;
  }
  .logo-container {
    gap: 10px;
  }
  .nav-list-items {
    gap: 10px;
  }
  .slide-desc{
    font-size: 15px;
    width: 65%;
    left: 5%;
    padding-bottom: 40px;
  }
  .swiper-slide{
    overflow: hidden;
  }
  .swiper-button-next{
    margin-right: 0px;
  }
  .swiper-button-prev{
    margin-left: 0px;
  }
  .inner-shadow {
    height: 50%;
    pointer-events: none;
    position: relative;
  }
  .inner-shadow img{
    object-position: center;
    object-fit: cover;
  }
  /* .up{
    position: absolute;
    top: 0;
    width: 100%;
    height: 0px;
    box-shadow: 0 0 29px 25px rgb(0, 10, 70);
    z-index: 4;
  }
  .down{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0px;
    box-shadow: 0 0 39px 35px rgb(0, 10, 70);
    z-index: 4;
  } */
}
@media (max-width: 540px) {
  .start-nav {
    padding-top: 10px;
    padding-right: 15px;
  }
  .logo-title {
    font-size: 12px;
  }
  .slide-desc{
    font-size: 12px;
  }
}